@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&family=Open+Sans:ital,wght@0,300;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #828282;
}

.header {
    width: 85%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.header img {
    max-width: 130px;
    cursor: pointer;
}

.middle-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* margin-left: -50px; */
}

.searchbar {
    width: 60%;
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgb(28 28 28 / 8%) 0 2px 8px;
    border: rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
}

.location-wrapper {
    display: flex;
    flex: 1;
    padding: 0 10px;
}

.location-icon {
    display: flex;
    color: #ff7e8b;
    margin-right: 8px;
}

.loc-add {
    color: #828282;
}

.caret {
    margin-left: 10px;
}

.location-seprator {
    margin-left: 7px;
    height: 20px;
    border: 0.5px solid rgb(207, 207, 207);
}

.header-searchbar {
    display: flex;
    align-items: center;
}

.header-search-icon {
    font-size: 20px;
    margin-left: 15px;

}

.input-search {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
}

.profile-wrapper {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 160px;
    cursor: pointer;
}

.profile-wrapper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.optoins-wrapper {
    width: 100%;
    margin-top: 30px;
    box-shadow: rgb(232, 232, 232) 0 -0.5px 0 inset;
}

.option {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    padding-bottom: 20px;
    cursor: pointer;
    /* padding-right:  -130px; */
}

.tap-option {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(252, 238, 192);
}

.tap-option img {
    width: 30px;
    height: 30px;
    margin: 13px 0 0 13px;
}

.option span {
    font-size: 20px;
    font-weight: 500;
    color: #696969;
    margin-left: -20px;
}

.filter-wrapper {
    width: 85%;
    margin: 20px auto;
}

.filter-buttons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border: 1px solid #828282;
    border-radius: 5px;
    padding: 10px;
    color: #828282;
    cursor: pointer;
}

.btn1 {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border: 1px solid #828282;
    border-radius: 5px;
    padding: 10px;
    color: #828282;
    cursor: pointer;
}

.filter-btn {
    margin-left: -5px;
}

section {
    width: 100%;
    background: rgb(232, 232, 232);
    padding-bottom: 20px;
}

.banner_title {
    width: 95%;
    margin: 30px auto;
    padding: 40px 0 0 40px;
    font-size: 30px;
    color: #1C1C1C;
    font-weight: 600;
}

.crousel {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.crousel-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #696969;
}

.card-slider {
    width: 100%;
    padding-bottom: 20px;
}

.card-title {
    width: 90%;
    margin: 30px auto;
    font-size: 30px;
    color: #1C1C1C;
    font-weight: 600;
}

.card-crousel {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.crousel-img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 5px rgb(232, 232, 232);
    margin-bottom: 12px;
}

.crousel-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 8px;
}

.crousel-card1 p {
    width: 100%;
    text-align: center;
    color: #696969;
}
.reduce{
    width: 90%;
    margin: 0 auto;
}
.explore-card {
    width: 30%;
    height: 60vh;
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px 20px 15px;
    padding: 10px; 
    border-radius: 15px;
    border: 1px solid transparent;
}

.explore-card:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 1px 1px 1px 1px rgba(28, 28, 28, 0.12)
}
.explore-options {
    width: 328px;
    height: 248px;
    border-radius: 15px;
    position: relative;
}

.explore-options img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.delivery-time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: red;
    opacity: 0.8;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(4px);
    font-size: 12px;
    font-weight: 600;
    padding: 2px 5px 3px;
    border-radius: 4px;
}

.offer {
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: #256fef;
    font-size: 14px;
    font-weight: 500;
    padding: 0 6px;
    border-radius: 0 2px 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.exp-row{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}
.exp-name{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    color: #1C1C1C;
}
.exp-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #267e3e;
    border-radius: 6px;
    height: 24px;
}
.exp-rating .star{
    font-size: 15px;
    margin-left: 3px;
}
.exp-title{
    display: flex;
    justify-content: space-between;
}
.exp-cuisines{
    max-width: 56%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #828282;
}
.exp-price{
    font-size: 14px;
    color: #828282;
}
.exp-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top: 5px;
}
.exp-bottom img.img1{
    max-width: 20px;
}
.exp-bottom img.img2{
    max-width: 50px;
}
.bottom-text{
    font-size: 12px;
    color: #828282;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
}
.exp-separator{
    height: 1px;
    margin: 15px 0 5px;
    background-color: rgb(207, 207, 207);
}
.collection{
    width: 93%;
    margin: 100px 0 auto;
    float: right;  
}
.faq-heading{
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #1C1C1C;
}
.extra-div{
    width: 100%;
    float: left;
}
.faq-box{
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.faq-section{
    width: 32%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #828282;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.faq-section:hover{
    cursor: pointer;
    box-shadow: 2px 2px rgba(28, 28, 28, 0.12);
}
.section-heading{
    width: 100%;
    font-size: 20px;
}
.section-places{
    width: 100%;
    font-size: 15px;
    color: #828282;
}
.section-caret{
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-size: 25px;
}
.section-heading1{
    text-align: center;
    padding: 13px 0;
}
.section-caret1{
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-size: 25px;
}

main{
    width: 100%;
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.title{
    width: 85%;
    font-size: 2rem;
    margin: 0 3rem;
    color: #828282;
}
.faq{
    max-width: 1050px;
    background: rgb(255, 255, 255);
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ffff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(232, 232, 232);
}
.question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.question h3{
    color: #696969;
    font-size: 18px;
    padding: 10px 0 5px 10px;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: 1.4s ease;
}
.answer p{
    padding: 1rem 1rem 0 1rem;
    line-height: 1.6;
    font-size: 1rem;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}
svg{
    transition: 0.5s ease-in;
}
@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.footer{
    width: 100%;
}
.footer-section{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #828282;
} 
.footer-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}
.footer-links li:nth-child(1){
    font-size: 20px;
    color: #ffff;
}
.footer-links li.clr a{
    color: #1C1C1C;
    font-size: 15px;
    letter-spacing: 3px;
}
.footer-links img{
    width: 80%;
    cursor: pointer;
}
.footer-icon{
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.social-icon{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.social-icon .insta, .linkedin, .github, .twitter{
    width: 100%;
    color: #1C1C1C;
    padding: 0 15px;
    border-radius: 50%;
}
.footer-title{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
    color: #828282;
}